/* Styling Basic Structure */

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Defined the project guideine colors  */

:root {
  /* Color guidelines */

  --accent-color: #8672ff;
  /* Light Purple Color */
  --base-color: #ffffff;
  /* White Color */
  --text-color: #2e2b41;
  /* Gunmetal Color */
  --input-color: #f3f0ff;
  /* Lavender Color / Foumdation White Color / Pale Blue Color */
  --primary: #0a2947;
  /* Navy */

  /* ---------------- Task Color Guidelines -------------------- */

  --minor: #94a3b8;
  /* Rock Blue Color */
  --major: #f59e0b;
  /* Amber Color */
  --critical: #ef4444;
  /* Coral Red Color */
  --ongoing: #0ea5e9;
  /* Sky Color */
  --completed: #10b981;
  /* Emerald Color */

  /* ---------------- Social Icons Color Guidelines -------------------- */
  --youtube-color: #ff0000;
  /* Red Color */
  --linkedin-color: #0077b5;
  /* LinkedIn Blue Color */
  --x-color: #000000;
  /* Black Color */
  --github-color: #24292e;
  /* Black-Blue Color */

  /* ---------------- Buttons Color Guidelines -------------------- */
  --add-button: #267d3a;
  --add-button-hover: #1e642e;
  --edit-button: #f59e0b;
  --edit-button-hover: #d97706;

}


/* Scrolling behaviour styling - when you navigate from section to another */

html {
  scroll-behavior: smooth;
  background-color: var(--text-color);
}

body {
  min-height: 100vh;
}

/* .container {
  width: 100%;
  margin: auto;
  padding: 0 2rem;
} */

/* --------------- Start Header Styling --------------- */
.hearder-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 5%;
  background-color: var(--accent-color);
  color: #d3d4c0;
  box-shadow: 0 2px 10px var(--base-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 600;
}

.logo a:hover {
  color: var(--base-color);
  transition: all 0.3s ease-in-out;
}

.header-span {
  color: var(--base-color);
}

.header-span:hover {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  align-items: center;
}

.nav-links a {
  font-weight: 300;
  color: var(--text-color);
  font: inherit;
}

.nav-links a:hover {
  font-weight: 600;
  color: var(--base-color);
  transition: 0.5s all ease;
  transform: scale(1.05);
}

.nav-links .active-page {
  color: var(--primary);
  font-weight: 600;
}

/* --------------- End of Header Styling --------------- */

/* --------------- Start Hero-Section Styling --------------- */
.hero-page-content {
  margin-top: 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero-page-content .hero-page-title {
  text-transform: capitalize;
  color: var(--base-color);
  font: inherit;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-page-title .hero-page-span {
  color: var(--accent-color);
}

.hero-page-content .hero-page-text {
  margin-bottom: 1rem;
  font: inherit;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--input-color);
}

.hero-page-content img {
  height: 300px;
  width: 100%;
  max-width: 600px;
  border: none;
  outline: none;
  border-radius: 30px;
}

.hero-buttons {
  margin: 0 auto;
  margin-top: 1rem;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;



}

.btn-homepage {
  background-color: var(--accent-color);
  color: var(--base-color);
  margin: 10px 0 0 0;
  padding: 1rem 3rem;
  font: inherit;
  font-weight: 400;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn-homepage:hover {
  /* background-color: var(--base-color); */
  background: linear-gradient(var(--input-color), var(--accent-color));
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  scale: 1.05;
  outline: none;
  /* border: 0.1px solid var(--accent-color); */
}

.btn-secondary {
  margin-left: 50px;
}

.technologies .tech-title {

  border-bottom: 3px solid;
  width: fit-content;
  margin: 0 auto;
  margin-top: 4rem;
  text-transform: capitalize;
  color: var(--base-color);
  font: inherit;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}


.tech-title .tech-span {
  color: var(--accent-color);
}

.tech-card-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* animation: slide 5s infinite; */
  /* padding-right: 1rem; */
  /* margin-top: 1rem; */
}

/* 
@keyframes slide {
  from {
    translate: 0;
  }

  to {
    translate: 100%;
  }
} */

.tech-card {
  /* flex: 0 0 7rem; */
  /* You have to stop grow and shrink propperties */
  /* height: auto; */
  padding: 1.5rem;
  /* background-color: #393e46; */

  border-radius: 1rem;

  align-content: center;
  width: 100%;
  max-width: 200px;

}

.tech-card-container img {
  width: 100%;
  max-width: 200px;

  margin: 0 auto;
  /* border: none;
  outline: none; */
  display: flex;
}

.tech-card-container h3 {
  margin-top: 1rem;
  color: var(--base-color);
  font: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}


/* --------------- End of Hero Styling ----------------------------- */
/* --------------- Start To-Do Hero-Section Styling --------------- */
.todo-title .title {
  color: var(--base-color);
  margin: 2rem auto;
  margin-bottom: 0.5rem;
  text-align: center;
  background: linear-gradient(var(--accent-color), var(--text-color));
  color: var(--base-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* .form-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
  background: linear-gradient(var(--accent-color), var(--base-color));
  padding: 40px;
  border-radius: 20px;
  color: var(--input-color);
  margin-top: 2rem;
} */

.form-data {
  margin: 2rem;
  background: linear-gradient(var(--accent-color), var(--base-color));
  color: var(--input-color);
  padding: 1.5rem;
  border-radius: 20px;
}

.task-form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
}

.task-form .todo-form-label {
  color: var(--text-color);
  white-space: nowrap;
  font-weight: 500;
}

.form-data input,
.form-data select {
  width: 100%;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  color: var(--text-color);
  padding: 0.5rem 0.7rem;
  text-align: center;
  font-size: 1rem;
  font: inherit;
  max-width: 400px;
}

.form-data input:focus,
.form-data select:focus {
  outline: none;
}

.btn {
  color: var(--base-color);
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
}

#btnAddTask {
  background-color: var(--add-button);
}

#btnAddTask:hover {
  background-color: var(--add-button-hover);
}

#btnEditTask {
  background-color: var(--edit-button);
  display: none;
}

#btnEditTask:hover {
  background-color: var(--edit-button-hover);
}

.to-do-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.card {
  background: var(--base-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card .card-heading {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  padding: 0.7rem;
  border: none;
  border-radius: 13px;
  background: var(--input-color);
}

.card p {
  margin-bottom: 0.5rem;
}

i {
  margin-right: 10px;
  font-size: 25px;
}

.minor-sign {
  color: var(--minor);
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

.major-sign {
  color: var(--major);
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

/* @keyframes spin {
  0% {}
  
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
} */


.top-critical-sign {
  color: var(--critical);
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

/* @keyframes rotate {
  0% {}
  
  100% {
    transform: rotate(180deg);
    border-radius: 50%;
  }
} */

.checked-sign {
  color: var(--completed);
  animation-name: side;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

/* @keyframes side {
  0% {}
  
  100% {
    /* transform: rotate(-360deg); //
    transform: rotateX(-180deg) rotateY(180deg) rotateZ(180deg);
    border-radius: 50%;
    scale: 1.5;
  }
} */

.task-card {
  padding: 0.5rem;
  border: 5px solid;
  background: #f8fafc08;
  border-radius: 5px;
  margin-bottom: 0.7rem;
  transition: all 3s ease-in-out;
  cursor: pointer;
}

.task-card.minor {
  border-color: var(--minor);
}

.task-card.major {
  border-color: var(--major);
}

.task-card.critical {
  border-color: var(--critical);
}

.task-card.completed {
  border-color: var(--completed) !important;
}

.task-card p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
  color: var(--text-color);
}

.task-card .bold-text {
  color: var(--text-color);
  font-weight: 700;
}

.task-actions {
  display: flex;
  gap: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: all 3s ease-in-out;
  cursor: pointer;
}

.update-icon {
  color: var(--ongoing);
}


.delete-icon {
  color: var(--critical);

}

.done-icon {
  color: var(--completed);

}

.update-icon:hover,
.delete-icon:hover,
.done-icon:hover {
  transform: scale(1.1);
}

/* --------------Sign Up Page Styling--------------- */
#sign-up-html {
  color: var(--text-color);
  text-align: center;
}

#sign-up-body {
  min-height: 100vh;
  /* background-image: url(./Images/sign-up-background-image.jpg); */
  /* background-size: cover;
  background-position: right;
  overflow: hidden; */
}

.sign-up {
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.sign-up-container {
  background-color: var(--base-color);
  /* height: 100vh; */
  /* width: max(40%, 600px); */
  /* you can use clamp(minimum, ideal, maximum) */
  width: 100%;
  max-width: 500px;
  padding: 2rem 0;
  margin: 2rem 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 3s ease-in-out;
  box-shadow: 3px 3px 40px 5px var(--accent-color);

}

.sign-up .sign-up-title {
  text-transform: capitalize;
  color: var(--accent-color);
  font: inherit;
  font-size: 3rem;
  font-weight: 600;
}

.sign-up-title .sign-up-span {
  color: var(--text-color);
}

.sign-up-form {
  width: min(400px, 100%);
  /* you can use clamp(minimum, ideal, maximum) */
  margin: 20px 0 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sign-up-form>div {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .sign-up-form .label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
} */

.sign-up-form .label {

  background-color: var(--accent-color);
  color: var(--base-color);
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 10px 0 0 10px;
  font-size: 0.9rem;
}

.sign-up-form input {
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1rem;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  /* border-left: none; */
  background-color: var(--input-color);
  transition: all 150ms ease-in-out;
}

.sign-up-form input:hover {
  /* border:  2px solid var(--accent-color); */
  border-color: var(--accent-color);
}

.sign-up-form input:focus {
  outline: none;
  border-color: var(--text-color);
}

.sign-up-form-content:has(input:focus)>.label {
  background-color: var(--text-color);
}

.sign-up-form button {
  background-color: var(--accent-color);
  color: var(--base-color);
  margin: 10px 0 0 0;
  padding: 1rem 3rem;
  font: inherit;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.sign-up-form button:hover {
  background-color: var(--text-color);
  text-decoration: underline;
}

.sign-up-form button:focus {
  background-color: var(--accent-color);
  outline: none;
}

.sign-up-container .sign-up-link {
  color: var(--accent-color);
  /* background-color: var(--text-color); */
}

.sign-up-container .sign-up-link:hover {
  text-decoration: underline;
  font-weight: 700;
  text-transform: capitalize;
}

/* --------------Login Page Styling--------------- */
.login {
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: var(--base-color);
  /* width: max(40%, 600px); */
  width: 100%;
  max-width: 500px;
  margin: 2rem 0;
  /* you can use clamp(minimum, ideal, maximum) */
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 3s ease-in-out;
  box-shadow: 3px 3px 40px 5px var(--accent-color);
}

.login .login-title {
  text-transform: capitalize;
  color: var(--accent-color);
  font: inherit;
  font-size: 3rem;
  font-weight: 600;
}


.login-title .login-span {
  color: var(--text-color);
}

.login-form {
  width: min(400px, 100%);
  /* you can use clamp(minimum, ideal, maximum) */
  margin: 20px 0 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}



.login-form>div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form .label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.login-form input {
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1rem;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  /* border-left: none; */
  background-color: var(--input-color);
  transition: all 150ms ease-in-out;
}

.login-form input:hover {
  /* border:  2px solid var(--accent-color); */
  border-color: var(--accent-color);
}

.login-form input:focus {
  outline: none;
  border-color: var(--text-color);
}

.login-form-content:has(input:focus)>.label {
  background-color: var(--text-color);
}

.login-form button {
  background-color: var(--accent-color);
  color: var(--base-color);
  margin: 10px 0 0 0;
  padding: 1rem 3rem;
  font: inherit;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.login-form button:hover {
  background-color: var(--text-color);
  text-decoration: underline;
}

.login-form button:focus {
  background-color: var(--accent-color);
  outline: none;
}

.login-container .login-link {
  color: var(--accent-color);

  /* background-color: var(--text-color); */
}

.login-container .login-link:hover {
  text-decoration: underline;
  font-weight: 700;
}


/* Footer Section styling*/
/* ------------------------- */

/* Footer section style */

footer {
  background: linear-gradient(to right, var(--accent-color), var(--base-color));
  width: 100%;
  padding: 2rem 5%;
  text-align: center;
  margin-top: 2rem;
}

/* This style will be applied on all elements inside the footer */

footer * {
  color: var(--text-color);
}

/* Footer social media style */

.social-icons {
  font-size: 2rem;
  margin-top: 1rem;
  /* background-color: red; */
  /* display: flex;
  gap: 10px;
  justify-content: center; */


}

/* Footer social media links style */

.social-icons a i {
  margin: 0 10px;
  font-size: 2rem;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
}

/* This style applies when you hover over the Footer icons button */

.social-icons>a:first-child i:hover {
  color: var(--youtube-color);
  transition: 0.3s all ease-in-out;
  transform: scale(1.2);
  background-color: var(--base-color);
  padding: 0.2rem 0;
}

.social-icons>a:nth-child(2) i:hover {
  color: var(--linkedin-color);
  transition: 0.3s all ease-in-out;
  transform: scale(1.2);
  background-color: var(--base-color);
  padding: 0.2rem 0;
}

.social-icons>a:nth-child(3) i:hover {
  color: var(--x-color);
  transition: 0.3s all ease-in-out;
  transform: scale(1.2);
  background-color: var(--base-color);
  padding: 0.2rem 0;
}

.social-icons>a:last-child i:hover {
  color: var(--github-color);
  transition: 0.3s all ease-in-out;
  transform: scale(1.2);
  background-color: var(--base-color);
  padding: 0.2rem 0;
}

/* ------------------------- */

/* Contact Me Page styling */
/* ------------------------- */

/* Contact Me section style */

.contact-me {
  background-color: var(--text-color);
  width: 100%;
  padding: 4rem 5%;
  margin-top: 2rem;
}

/* Contact Me container style */

.contact-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Contact Me title style */

.contact-me h1 {
  margin-bottom: 0.5rem;
  text-align: center;
  /* font-size: clamp(1.8rem, 3vw, 2.5rem); */
  /* text-decoration: underline; */

  color: var(--base-color);
  font: inherit;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Contact Me paragraph style */

.contact-me-text {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  font: inherit;
  font-weight: 300;
  color: var(--input-color);
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5;
}



.contact-title-span {
  color: var(--accent-color);
}


.bold {
  font-weight: 600;
  text-decoration: underline;
}


/* Contact Me content includes an image, the form , and the button style */

.contact-me .contact-content {
  background-color: var(--base-color);
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px 5px var(--accent-color); */
  box-shadow: 0px 0px 20px 5px var(--accent-color);
}

.contact-content img {
  border: none;
  background: #10b981;

}

/* Contact Me Form content */

.contact-me .contact-content input,
select,
textarea {
  background-color: var(--input-color);
  width: 100%;
  margin: 15px 0;
  padding: 12px;
  display: block;
  border: 1px solid var(--accent-color);
  border-radius: 15px;
  font-size: 1rem;
  outline: none;
}

/* Contact Me Subject's combobox value style */

select {
  text-align: center;
}

/* This style applies when you click on the Contact Me form elements */

.contact-me .contact-content input:focus,
.contact-me .contact-content select:focus,
.contact-me .contact-content textarea:focus {
  background: var(--input-color);
}

/* Contact Me button style */

.btn-contactMe {
  /* background: linear-gradient(to left, var(--accent-color), var(--text-color)); */
  background-color: var(--accent-color);
  width: 100%;
  max-width: 200px;
  padding: 12px 30px;
  margin-top: 20px;
  color: var(--input-color);
  font-size: 14px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* This style applies when you hover over the Contact Me button */

.btn-contactMe:hover {
  transform: scale(1.1);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Contact Me image style */

.contact-me .contact-content img {
  width: 100%;
  align-self: center;
  object-fit: contain;
}