/* Styling Basic Structure */

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Defined the project guideine colors  */
/* ----------------------------------- */
:root {
  /* Colors guidelines */
  /* Light Purple Color */
  --accent-color: #8672ff;
  /* White Color */
  --base-color: #ffffff;
  /* Gunmetal Color */
  --text-color: #2e2b41;
  /* Lavender Color / Foumdation White Color / Pale Blue Color */
  --input-color: #f3f0ff;
  /* Deep Navy Color / Dark Midnight Blue */
  --primary: #0a2947;
  /* Bright Red Color (Amaranth) */
  --error-message-color: #dc3545;
  /* ---------------- Task Color Guidelines -------------------- */
  /* Rock Blue Color */
  --minor: #94a3b8;
  /* Amber Color */
  --major: #f59e0b;
  /* Coral Red Color */
  --critical: #ef4444;
  /* Sky Blue Color / Vivid Blue Color */
  --ongoing: #0ea5e9;
  /* Emerald Color */
  --completed: #10b981;
  /* ---------------- Social Icons Color Guidelines ------------ */
  /* Red Color */
  --youtube-color: #ff0000;
  /* LinkedIn Blue Color */
  --linkedin-color: #0077b5;
  /* Black Color */
  --x-color: #000000;
  /* Black-Blue Color */
  --github-color: #24292e;
  /* ---------------- Buttons Color Guidelines ----------------- */
  /* Dark Lime Green Color */
  --add-button: #267d3a;
  /* Deep Dark Green Color (Bucolic) */
  --add-button-hover: #1e642e;
  /* Dark Amber Color (Amber 700) */
  --edit-button: #b45309;
  /* Vivid Color (Amber 600) */
  --edit-button-hover: #d97706;

  /* ---------------- Colors guidelines V2.0 to met Axe DevTool */
  /* Medium Purple Color (Vivid Iris) */
  --accent-color-v2: #6750e6;
}

/* End of project guideine colors  */
/* ------------------------------ */

/* Scrolling behaviour styling - when you navigate from section to another */

html {
  background-color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* End of Scrolling behaviour styling  */
/* ---------------------------------- */

/* Start the Header Styling  */
.hearder-container {
  background-color: var(--accent-color-v2);
  color: #d3d4c0;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  box-shadow: 0 2px 10px var(--base-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  color: var(--input-color);
  font-size: 1.4rem;
  font-weight: 600;
}

.logo a:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.header-span {
  color: var(--base-color);
}

.header-span:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  align-items: center;
}

.nav-links a {
  color: var(--input-color);
  font-weight: 300;
  font: inherit;
}

.nav-links a:hover {
  background: linear-gradient(to left, var(--text-color), var(--text-color));
  font-weight: 600;
  transition: 0.5s all ease;
  transform: scale(1.2);
}

.nav-links .active-page {
  color: var(--input-color);
  font-weight: 600;
  border: 3px solid var(--input-color);
  padding: 0 5px;
}

.welcome-item {
  color: var(--base-color);
  padding: 0 1rem;
  font-weight: 500;
}

/* End of the Header Styling */
/* -------------------------- */

/*  Start Home page Styling  */
.hero-page-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
}

.hero-page-content .hero-page-title {
  color: var(--base-color);
  margin-bottom: 1rem;
  text-transform: capitalize;
  font: inherit;
  font-size: 3rem;
  font-weight: 600;
}

.hero-page-title .hero-page-span {
  color: var(--accent-color);
}

.hero-page-content .hero-page-text {
  color: var(--input-color);
  margin-bottom: 1rem;
  font: inherit;
  font-size: 1.2rem;
  font-weight: 400;
}

.hero-page-content img {
  height: 300px;
  width: 100%;
  max-width: 600px;
  border: none;
  outline: none;
  border-radius: 30px;
}

.hero-buttons {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-buttons .btn-homepage {
  background-color: var(--accent-color-v2);
  color: var(--base-color);
  width: 100%;
  max-width: 200px;
  margin: 10px 0 0 0;
  padding: 1rem 3rem;
  font: inherit;
  font-weight: 400;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn-homepage:hover {
  background: linear-gradient(var(--input-color), var(--accent-color));
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  scale: 1.05;
  outline: none;
}

.btn-secondary {
  margin-left: 50px;
}

.technologies .tech-title {
  color: var(--base-color);
  width: fit-content;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid;
  text-transform: capitalize;
  font: inherit;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.tech-title .tech-span {
  color: var(--accent-color);
}

.tech-card-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.tech-card {
  width: 100%;
  max-width: 200px;
  padding: 1.5rem;
  border-radius: 1rem;
  align-content: center;
}

.tech-card-container img {
  width: 100%;
  max-width: 200px;
  display: flex;
  margin: 0 auto;
}

.tech-card-container h3 {
  color: var(--base-color);
  margin-top: 1rem;
  font: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}


/*  End of Home page Styling */
/* --------------------------- */

/* Start To-Do-Appliaction page Styling */
.to-do {
  padding: 15px 5%;
}

.todo-title .title {
  color: var(--base-color);
  background: linear-gradient(var(--accent-color), var(--text-color));
  width: fit-content;
  margin: 2rem auto;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px 0px 10px 5px var(--input-color);
}

#todo-form {
  background: linear-gradient(var(--accent-color), var(--base-color));
  color: var(--input-color);
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0;
  padding: 1rem;
  border-radius: 30px;
  transition: all 3s ease;
}

.task-form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 1rem;
  margin: 1rem 0.5rem;
}

.task-form .todo-form-label {
  color: var(--text-color);
  white-space: nowrap;
  font-weight: 500;
}

.task-form input,
.task-form select,
.task-form #date-wrapper input {
  color: var(--text-color);
  width: 100%;
  max-width: 400px;
  padding: 0.5rem 0.7rem;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  font-size: 1rem;
  text-align: center;
}

.task-form input:focus,
.task-form select:focus,
.task-form #date-wrapper input:focus {
  outline: none;
}

#date-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  display: none;
}

.btn {
  color: var(--base-color);
  flex-shrink: 0;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}

#btnAddTask {
  background-color: var(--add-button);
}

#btnAddTask:hover {
  background-color: var(--add-button-hover);
}

#btnEditTask {
  background-color: var(--edit-button);
  display: none;
}

#btnEditTask:hover {
  background-color: var(--edit-button-hover);
}

.to-do-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.card {
  background: var(--base-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card .card-heading {
  background: var(--input-color);
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  padding: 0.7rem;
  border: none;
  border-radius: 13px;
}

.card p {
  margin-bottom: 0.5rem;
}

.card i {
  margin-right: 10px;
  font-size: 25px;
}

.minor-sign {
  color: var(--minor);
}

.major-sign {
  color: var(--major);
}

.top-critical-sign {
  color: var(--critical);
}

.checked-sign {
  color: var(--completed);
}

/* This card below will be generated by JavaScript, here is just the styling */
.task-card {
  background: #f8fafc08;
  padding: 0.5rem;
  border: 5px solid;
  border-radius: 5px;
  margin-bottom: 0.7rem;
  transition: all 3s ease-in-out;
}

/* The border color guideline for each card based on its priority */
.task-card.minor {
  border-color: var(--minor);
}

.task-card.major {
  border-color: var(--major);
}

.task-card.critical {
  border-color: var(--critical);
}

.task-card.custom {
  border-color: #0ea5e9;
}

.task-card.completed {
  border-color: var(--completed) !important;
}

/* The paragraph contains all data inputs entered by the user */
.task-card p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
  color: var(--text-color);
}

.task-card .bold-text {
  color: var(--text-color);
  font-weight: 700;
}

/* This will be generated by JavaScript , it contains all the action icons (update, delete, and complete) */
.task-actions {
  display: flex;
  gap: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: all 3s ease-in-out;
  cursor: pointer;
}

.update-icon {
  color: var(--ongoing);
}

.delete-icon {
  color: var(--critical);

}

.done-icon {
  color: var(--completed);

}

.update-icon:hover,
.delete-icon:hover,
.done-icon:hover {
  transform: scale(1.1);
}

/* This effect will be triggered when the user clicked on update icon to drag user's attention */
.edit-mode {
  background: linear-gradient(var(--base-color), var(--accent-color)) !important;
  border: 2px solid var(--base-color) !important;
  padding: 15px;
  border-radius: 10px;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

/* An animation for todo form when the user clicks on update icon to drag user's attention */
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 var(--accent-color);
  }

  50% {
    box-shadow: 0 0 25px 8px var(--accent-color),
      0 0 25px 8px var(--base-color);
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.edit-mode.pulse-active {
  animation: pulseGlow 1.2s ease-in-out;
}

/* End of To-Do-Appliaction page Styling */
/* ------------------------------------ */

/* Contact Me Page styling */
/* ---------------------- */

.contact-me {
  background-color: var(--text-color);
  width: 100%;
  padding: 4rem 5%;
  margin-top: 2rem;
}

.contact-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}


.contact-me h1 {
  color: var(--base-color);
  margin-bottom: 1rem;
  text-align: center;
  font: inherit;
  font-size: 3rem;
  font-weight: 600;
}

.contact-me h1 .contact-title-span {
  color: var(--accent-color);
}

/* Contact Me paragraph style */

.contact-me .contact-me-text {
  color: var(--input-color);
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 1rem;
  font: inherit;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
}

.contact-me .contact-me-text .bold {
  font-weight: 600;
  text-decoration: underline;
}


/* Contact Me content includes an image, the form , and the button style */

.contact-me .contact-content {
  background-color: var(--base-color);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px var(--accent-color);
}

/* Contact Me Form content */

.contact-me .contact-content input,
select,
textarea {
  background-color: var(--input-color);
  width: 100%;
  margin: 15px 0;
  padding: 12px;
  display: block;
  border: 1px solid var(--accent-color);
  border-radius: 15px;
  font-size: 1rem;
  outline: none;
}

/* Contact Me Subject's combobox value style */

input,
select {
  text-align: center;
}

/* This style applies when you click on the Contact Me form elements */

.contact-me .contact-content input:focus,
.contact-me .contact-content select:focus,
.contact-me .contact-content textarea:focus {
  background: var(--input-color);
}

/* Contact Me button style */

.contact-content .btn-contactMe {
  background-color: var(--accent-color-v2);
  color: var(--input-color);
  width: 100%;
  max-width: 200px;
  padding: 12px 30px;
  margin-top: 20px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* This style applies when you hover over the Contact Me button */

.btn-contactMe:hover {
  transform: scale(1.1);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Contact Me image style */

.contact-me .contact-content img {
  background: var(--github-color);
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
  border-radius: 10px;
}

/* This will be generated by JavaScript, when any of the form inputs has an error */
#contact-form .form-group input.incorrect,
#contact-form .form-group #subject.incorrect,
#contact-form .form-group #message.incorrect {
  border: 2px solid var(--error-message-color);
}

/* End of Contact Me Page styling */
/* ----------------------------- */

/* Sign Up Page Styling */
#sign-up-html {
  color: var(--text-color);
  text-align: center;
}

.sign-up-container {
  background-color: var(--base-color);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem 0;
  border-radius: 20px;
  transition: all 3s ease-in-out;
  box-shadow: 3px 3px 40px 5px var(--accent-color);
}

.sign-up-title {
  color: var(--accent-color);
}

.sign-up-title .sign-up-span {
  color: var(--text-color);
}

.sign-up-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px;
}

.sign-up-form .sign-up-form-content {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sign-up-form-content .label {
  background-color: var(--accent-color-v2);
  color: var(--base-color);
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

.sign-up-form-content input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  margin-right: 8px;
  border: 2px solid var(--input-color);
  border-radius: 10px;
  transition: all 150ms ease-in-out;
  text-align: center;
  font: inherit;
}

.sign-up-form-content input:hover {
  border-color: var(--accent-color);
}

.sign-up-form-content input:focus {
  outline: none;
  border-color: var(--text-color);

}

/* When you the user focuses on an input, then this rule will be applied on the that lable  */
.sign-up-form-content:has(input:focus)>.label {
  background-color: var(--text-color);
}

.sign-up-form button {
  background-color: var(--accent-color-v2);
  color: var(--base-color);
  margin: 10px 0 0 0;
  padding: 1rem 3rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.sign-up-form button:hover {
  background-color: var(--text-color);
  text-transform: uppercase;
  text-decoration: underline;
}

.sign-up-form button:focus {
  background-color: var(--accent-color);
  outline: none;
}

.sign-up-container p {
  margin: 10px;
}

.sign-up-form .sign-up-link {
  color: var(--accent-color-v2);
  text-decoration: underline;
}

.sign-up-form .sign-up-link:hover {
  text-transform: capitalize;
  font-weight: 700;
}


/* When the user created an account, this message will be showed up */
#account-created {
  color: var(--completed);
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
}

/* General Error Message Inputs */
.error-message-input {
  color: var(--error-message-color);
  display: block;
  margin: 5px 0 10px;
  min-height: 16px;
  font-size: 0.85rem;
  text-align: center;
}

/* This will be generated by JavaScript when any input has an error */
.sign-up-form-content input.incorrect {
  border: 2px solid var(--error-message-color);
}

/* End of Sign up page Styling */
/* ----------------------------- */

/* Login Page Styling */
.login {
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: var(--base-color);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 10px;
  border-radius: 20px;
  transition: all 3s ease-in-out;
  box-shadow: 3px 3px 40px 5px var(--accent-color);
}

.login .login-title {
  text-transform: capitalize;
  color: var(--accent-color);
  font: inherit;
  font-size: 3rem;
  font-weight: 600;
}

.login-title .login-span {
  color: var(--text-color);
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px;
}

.login-form>div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form .label {
  background-color: var(--accent-color-v2);
  color: var(--base-color);
  width: 100%;
  max-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 1rem;
  border-radius: 10px;
  font: inherit;
}

.login-form input {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  margin-right: 8px;
  margin-bottom: 5px;
  border: 2px solid var(--input-color);
  border-radius: 10px;
  font: inherit;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.login-form input:hover {
  border-color: var(--accent-color);
}

.login-form input:focus {
  outline: none;
  border-color: var(--text-color);
}

.login-form-content:has(input:focus)>.label {
  background-color: var(--text-color);
}

.login-form button {
  background-color: var(--accent-color-v2);
  color: var(--base-color);
  margin: 10px 0 0 0;
  padding: 1rem 3rem;
  border: none;
  border-radius: 30px;
  font: inherit;
  font-weight: 600;
  cursor: pointer;
}

.login-form button:hover {
  background-color: var(--text-color);
  text-transform: uppercase;
  text-decoration: underline;
}

.login-form button:focus {
  background-color: var(--accent-color);
  outline: none;
}

.login-container .login-link {
  color: var(--accent-color-v2);
  text-decoration: underline;
}

.login-container .login-link:hover {
  font-weight: 700;
}

/* When the user clicked on Login, and assuming all the inputs have no errors,
 then a message will show up for 2 seconds and then re-direct the user to TO-DO-Application page.
 This will be generated by JavaScript  */
#login-message {
  color: var(--completed);
  padding: 0 0.5rem;
  border-radius: 8px;
  font-size: 17px;
  text-align: center;
}

/* This will be generated by JavaScript when any input has an error */
.login-form-content input.incorrect {
  border: 2px solid var(--error-message-color);
}

/* End of Login page Styling */
/* ------------------------ */

/* Footer Section styling */

footer {
  background: linear-gradient(to right, var(--accent-color), var(--base-color));
  width: 100%;
  padding: 2rem 5%;
  margin-top: 2rem;
  text-align: center;
}

/* This style will be applied on all elements inside the footer */
footer * {
  color: var(--text-color);
}

/* Footer social media style */
.social-icons {
  font-size: 2rem;
  margin-top: 1rem;
}

/* Footer social media links style */
.social-icons a i {
  color: var(--text-color);
  margin: 0 10px;
  border-radius: 4px;
  font-size: 2rem;
  text-align: center;
}

/* This style applies when you hover over the Footer icons */
.social-icons>a:first-child i:hover {
  background-color: var(--base-color);
  color: var(--youtube-color);
  padding: 0.2rem 0;
  transition: 0.3s all ease-in-out;
  transform: scale(1.2);
}

.social-icons>a:nth-child(2) i:hover {
  background-color: var(--base-color);
  color: var(--linkedin-color);
  padding: 0.2rem 0;
  transition: 0.3s all ease-in-out;
  transform: scale(1.2);
}

.social-icons>a:nth-child(3) i:hover {
  background-color: var(--base-color);
  color: var(--x-color);
  padding: 0.2rem 0;
  transition: 0.3s all ease-in-out;
  transform: scale(1.2);
}

.social-icons>a:last-child i:hover {
  background-color: var(--base-color);
  color: var(--github-color);
  padding: 0.2rem 0;
  transition: 0.3s all ease-in-out;
  transform: scale(1.2);
}

/* End of Footer Styling */
/* ------------------------ */

/* Responsiveness Styling */
/* --------------------- */

/* Style screen up to 768px */
/* ----------------------- */
@media (max-width: 768px) {

  /* The Header */
  .hearder-container {
    flex-direction: column;
    gap: 15px;
    padding: 15px 5%;
  }

  .nav-links {
    justify-content: center;
    gap: 25px;
    text-wrap: nowrap;
  }

  .hero-page-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
  }

  /* End of the Header */
  /* ---------------- */

  /* Home Page */
  .hero-page-content .hero-page-title {
    font-size: 2rem;
  }

  .hero-page-content .hero-page-text {
    font-size: 1rem;
    text-align: justify;
  }

  .hero-page-content .hero-page-text br {
    display: none;
  }

  .hero-page-content img {
    height: 250px;
  }

  .hero-buttons .btn-homepage {
    padding: 1rem 2rem;
    max-width: 185px;
  }

  .technologies .tech-title {
    font-size: 2rem;
  }

  .tech-card {
    max-width: 180px;
  }

  .tech-card-container h3 {
    font-size: 1.3rem;
  }

  /* End of Home Page */
  /* --------------- */

  /* TO-DO-Application Page */
  .to-do {
    padding: 15px 5%;
  }

  .todo-title .title {
    font-size: 2rem;
  }

  #todo-form {
    width: 100%;
    max-width: 400px;
    padding: 15px 5%;
  }

  .task-form {
    flex-direction: column;
    width: 100%;
    gap: 0.7rem;
  }

  .task-form .todo-form-label,
  .task-form #date-wrapper .todo-form-label {
    align-self: flex-start;
  }

  #todo-form #date-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: none;
    width: 100%;
  }

  .task-form input,
  .task-form select,
  .task-form #date-wrapper input {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  #todo-form .btn {
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
  }

  .to-do-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .card .card-heading {
    width: 100%;
    font-size: 0.99rem;
  }

  /* End of TO-DO-Application Page */
  /* ---------------------------- */

  /* Contact Me Page */
  /* -------------- */
  .contact-me {
    background-color: var(--text-color);
    width: 100%;
    padding: 2rem 5%;
    margin-top: 2rem;
  }

  .contact-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    padding: 15px 5%;
  }

  .contact-me h1 {
    font-size: 2rem;
  }

  .contact-me .contact-me-text {
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
  }

  .contact-me .contact-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact-me .contact-content label,
  .contact-me .contact-content input,
  .contact-me .contact-content select,
  .contact-me .contact-content textarea {
    font-size: 0.9rem;
  }

  .contact-content .btn-contactMe {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  .btn-contactMe:hover {
    transform: scale(1.05);
  }

  .contact-me .contact-content img {
    display: none;
  }

  .error-message-input {
    font-size: 15px;
  }

  /* End of Contact Me Page */
  /* --------------------- */

  /* Sign up Page */
  .sign-up {
    padding: 1rem 5%;
  }

  /* End of Sign up Page */
  /* ----------------- */

  /* Login Page */

  .login {
    height: 80vh;
    padding: 1rem 5%;
  }

  #login-message {
    font-size: 15px;
  }

  /* End of Login Page */
  /* ---------------- */
}

/* End of Style screen up to 768px */
/* ------------------------------- */

/* Style screen up to 528px */
/* ----------------------- */

@media (max-width: 528px) {

  /* The Header */
  .hearder-container {
    flex-direction: column;
    gap: 15px;
    padding: 15px 5%;
  }

  .nav-links {
    justify-content: center;
    gap: 15px;
    text-wrap: nowrap;
  }

  .hero-page-content {
    margin-top: 2rem;
  }

  /* End of the Header */
  /* ---------------- */

  /* Home Page */
  .hero-page-content .hero-page-title {
    font-size: 1.7rem;
  }

  .hero-page-content .hero-page-text {
    font-size: 0.9rem;
    text-align: justify;
  }

  .hero-page-content .hero-page-text br {
    display: none;
  }

  .hero-page-content img {
    height: 200px;
  }

  .hero-buttons .btn-homepage {
    padding: 1rem;
    font-size: 0.9rem;
    max-width: 170px;
  }

  .technologies .tech-title {
    font-size: 1.7rem;
  }

  .tech-card {
    max-width: 150px;
  }

  .tech-card-container h3 {
    font-size: 1.2rem;
  }

  /* End - HomePage Page */
  /* ------------------ */

  /* To-Do-Application Page */
  /* --------------------- */
  .to-do {
    padding: 15px 5%;
  }

  .todo-title .title {
    font-size: 1.7rem;
  }

  #todo-form {
    width: 100%;
    max-width: 350px;
    padding: 15px 5%;

  }

  .task-form {
    flex-direction: column;
    width: 100%;
    gap: 0.7rem;
  }

  .task-form .todo-form-label,
  .task-form #date-wrapper .todo-form-label {
    align-self: flex-start;
  }


  #todo-form #date-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: none;
    width: 100%;
  }

  .task-form input,
  .task-form select,
  .task-form #date-wrapper input {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  #todo-form .btn {
    width: 100%;
    max-width: 350px;
    margin: 1rem auto;
  }

  .to-do-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .card .card-heading {
    width: 100%;
    font-size: 0.95rem;
  }

  /* ------------------- */
  /* End of Application Page */

  /* Contact Me Page */
  .contact-me {
    background-color: var(--text-color);
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 5%;
  }

  .contact-container {
    padding: 15px 5%;
  }

  .contact-me h1 {
    font-size: 1.8rem;
  }

  .contact-me .contact-me-text {
    width: 100%;
    max-width: 500px;
    font-size: 0.85rem;
  }

  .contact-me .contact-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact-me .contact-content label {
    font-size: 0.85rem;
  }

  .contact-me .contact-content label,
  .contact-me .contact-content input,
  .contact-me .contact-content select,
  .contact-me .contact-content textarea {
    font-size: 0.85rem;
  }

  .contact-content .btn-contactMe {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .btn-contactMe:hover {
    transform: scale(1.03);
  }

  .contact-me .contact-content img {
    display: none;
  }

  .error-message-input {
    font-size: 13px;
  }

  /* End of Contact Me Page */
  /* --------------------- */


  /* Sign up Page */
  .sign-up {
    padding: 1rem 5%;
  }

  .sign-up-container {
    max-width: 450px;
  }

  .sign-up-form-content .label {
    font-size: 0.85rem;
  }

  .sign-up-form-content input {
    font-size: 0.85rem;
  }

  .sign-up-form button {
    padding: 1rem 2rem;
  }

  .sign-up-container p {
    font-size: 0.9rem;
  }

  /* End of Sign up Page */
  /* ------------------ */



  /* Login Page */
  .login {
    padding: 1rem 5%;
  }

  .login-container {

    max-width: 450px;

  }

  .login .login-title {
    font-size: 2.5rem;
  }

  .login-form {
    gap: 20px;
  }

  .login-form .label {
    max-width: 100px;
    font-size: 0.85rem;
  }

  .login-form input {
    max-width: 400px;
    font-size: 0.85rem;
    ;
  }

  .login-form button {
    padding: 1rem 2rem;
  }

  .login-container p {
    font-size: 0.9rem;
  }

  #login-message {
    font-size: 13px;
  }

  /* End of Login Page */
  /* ---------------- */
}